mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.signin-content {
  padding: 60px 1rem;
}

.full-width-input {
  width: 100%;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
